<h1>Edit Comment</h1>
<%= simple_form_for ([@message, @comment]) do |ukambani| %>
  <%= ukambani.input :content, label: "Comments" %>
  <%= ukambani.button :submit, class: "button-custom" %>
<% end %>